.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          .intro-headline
            %h1
              The Civility Project
            %h3
              A Year-long Review of Civility by the City Club of Boise
